<div> 
    <h1> Posts Index </h1>
    <ol> <% @list_of_posts.each do |post| %>
        <li>
            <b> <%= post.title %> </b>
            <i> <%= post.user.name %> </i>
            <p> <%= post.content %> </p>
            <hr>
        </li>
    <% end %> </ol> 
    
</div>