<div> 
    <h1> Posts Index </h1>
    <% @posts.each do |post| %>
        <div>
            <b> <%= post.title %> </b>
            <p> <%= post.content %> </p>
        </div>
    <% end %>
    
</div>