/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
     font-family: sans-serif;
 }

 html, body {
     background-color: #F2BC94;
 }

 header .navbar {
     position: fixed;
     width: 100%;
     top: 0;
     background-color: #30110D;
     padding-top: 10px;
     padding-bottom: 10px;
 }

 header .navbar li {
     display: inline;
     margin-right: 5px;
     margin-left: 5px;
 }

 header .navbar .sign {
     float: right;
 }

 header .navbar li a {
     text-decoration: none;
     color: #F2BC94;
 }

 header .navbar li a:hover {
    text-decoration: none;
    color: grey;
}

 header .errors {
     margin-top: 50px;
     background-color: #8FBC8F;
     font-weight: bolder;
     font-size: 2rem;
     text-align: center;
     padding: 10px;
 }

main {
    display: block;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    background-color: #722620;
    border-radius: 5px;
}

main h1, main h2 {
    color: #F2BC94;
    text-decoration: underline;
    font-weight: bolder;
}

main a {
    color: white;
}

main p, main span, .postTitle, .postContent, .field {
    color: white;
}

main a:hover {
    text-decoration: none;
    color: grey;
}

main .userShow .profilePic {
    width: 150px;
    height: 150px;
}

main .userIndex .otherUsers .user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

main .userIndex .name {
    font-weight: bold;
}

main .userIndex .deleteFriend {
    text-decoration: none;
}

main .userIndex .otherUsers .profilePic {
    width: 150px;
    height: 150px;
}

main .postIndex .name {
    font-weight: bold;
    text-decoration: underline;
}

main .postIndex .postPic {
    width: 150px;
    height: 150px;
}

main .postNew .postTitle, main .postNew .postContent, main .postNew .submitBtn {
    margin-top: 5px;
}

main .postShow .postPic {
    max-width: 100%;
}

main .postShow .likes li.name {
    color: white;
}

main .userEdit .field, main .userEdit .actions {
    margin-top: 5px;
}

.submitBtn, .commentBtn, .friendRequestBtn, .updateBtn, .cancelBtn, .browseBtn {
    background-color: #30110D;
    color: #F2BC94;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
}

.submitBtn:hover, .commentBtn:hover, .friendRequestBtn:hover, .updateBtn:hover, .cancelBtn:hover, .browseBtn:hover {
    background-color: #30110D;
    color: grey;
    cursor: pointer;
}